@use './partials/variables' as *;
@import '~bootstrap/scss/bootstrap';



.jumbo-container {
    height: 400px;
    background-image: url('../img/jumbotron.jpg')
}

#mainheader {
    img {
        width: 80px;
        height: 80px;
    }

    .nav-link {
        color: black;
        font-weight: bold;
    }

    .nav-link:hover {
        color: #0282f9 !important;
    }

    .nav-link.active {
        color: #0282f9 !important;
    }
}

main {
    .btn {
        background-color: $brand_primary;
        color: white;
        font-size: 20px;
        border-radius: 0;
        width: 250px;
    }

    .btn:hover {
        background-color: $brand_primary;
        color: white;
        opacity: 0.7;
    }

}

#comics {
    a {
        text-decoration: none !important;
    }

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: top;
    }
}

#comic {
    img {}
}